<h1>Cadastrar Novo Cliente</h1>

<form >
    <div id="input-container">
        <label for="nome">Nome</label>
        <input id="nome" name="name" type="text" placeholder="Informe o nome" [(ngModel)] = "client.name">
    </div>

    <div id="input-container">
        <label for="cpf">CPF</label>
        <input id="cpf"  name="cpf" type="text" placeholder="Informe o cpf" [(ngModel)] = "client.cpf">
    </div>

    <div id="input-container">
        <label for="nascimento">Data de Nascimento</label>
        <input id="nascimento"  name="birthDate" type="date" [(ngModel)] = "client.birthDate">
    </div>

    <div id="input-container">
        <label for="salario">Salário</label>
        <input id="salario"  name="income" type="number" placeholder="Informe o salário" [(ngModel)] = "client.income">
    </div>

    <div id="input-container">
        <label for="filhos">Filhos</label>
        <input id="filhos"  name="children" type="number" placeholder="Informe o nº de filhos(a)" [(ngModel)] = "client.children">
    </div>

    <div id="actions">
        <button (click)="create()">Cadastrar</button>
        <button id="btn-clean" (click)="clean()">Limpar</button> 
    </div>

</form>



